{% extends 'base/base.html' %}
{% load static %}
{% load socialaccount %}


{% block title %}
Mafia | Forgot password
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mainpage/css/register.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

{% endblock %}

{% block body %}

<a href='{% url "home" %}' class='arrow'><span>&#8249;</span></a>
<div class="lights-container">
    <div class="redlight"></div>
    <div class="bluelight"></div>
    <div class="redlight-small"></div>
    <div class="bluelight-small"></div>

    <form method="POST">
        {% csrf_token %}
    
        <div class="title" id="title">Forgot Password</div>
    
        <div class="form-group">
            <input type="email" name="email" id="email" required>
            <label for="E-mail" class="form-label">E-mail</label>
        </div>
    
        <button type="submit" class="testing" data-text="Register">Reset Password</button>
    </form>


    

        {% if error_messages %}
        {% for error_message in error_messages %}
            <div class="error-message">
                <span class="error-item">{{ error_message }}</span>
                <br>
            </div>
        {% endfor %}
    {% endif %}
{% comment %} </div>

{% for field in form %}
{{ field.errors.as_ul }}
{% endfor %} {% endcomment %}

{% endblock %}

{% block js %}

<script src="{% static 'mainpage/js/register.js' %}"></script>
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>

{% endblock %}