
{% extends 'base/base.html' %}
{% load static %}
{% load socialaccount %}


{% block title %}
Mafia | Password Reset Sent
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mainpage/css/register.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

{% endblock %}

{% block body %}

<a href='{% url "home" %}' class='arrow'><span>&#8249;</span></a>
<div class="lights-container">
    <div class="redlight"></div>
    <div class="bluelight"></div>
    <div class="redlight-small"></div>
    <div class="bluelight-small"></div>

    <form method="POST">
        {% csrf_token %}
    
        <div class="title" id="title">Password Reset Sent</div>
        <a class="forgett">An email with instructions to reset your password has been sent to your registered email address. Please follow the instructions provided in the email to reset your password.</a>

    </form>


    

        {% if error_messages %}
        {% for error_message in error_messages %}
            <div class="error-message">
                <span class="error-item">{{ error_message }}</span>
                <br>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block js %}

<script src="{% static 'mainpage/js/register.js' %}"></script>
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>

{% endblock %}