body {
	background-color: #101010;
	color: #fff;
	font-family: Arial, sans-serif;
	display: flex;
	overflow: hidden;
}

.lights-container {
	display: table;
	width: 100%;
	height: 100%;
	animation: rotate 1s infinite;
}

@keyframes redlight {
	0% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	65% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bluelight {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes redlight-small {
	0% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bluelight-small {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.redlight,
.bluelight {
	width: 100%;
	height: 150%;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	/* top: -25% !important; */
}

.redlight-small,
.bluelight-small {
	width: 1090px;
	height: 400px;
	border-radius: 50%;
	display: table-cell;
	vertical-align: middle;
	position: absolute;
}

.redlight {
	background-color: red;
	background: radial-gradient(
		rgba(255, 0, 0, 0.5) 0%,
		transparent 67%,
		transparent 100%
	);
	animation: redlight 1s infinite;
	right: 40%;
	bottom: -50%;
}

.bluelight {
	background-color: blue;
	background: radial-gradient(
		rgba(0, 0, 255, 0.5) 0%,
		transparent 67%,
		transparent 100%
	);
	animation: bluelight 1s infinite;
	left: 40%;
	top: -50%;
}

.redlight-small {
	background-color: red;
	background: radial-gradient(
		rgba(255, 0, 0, 0.25) 0%,
		transparent 67%,
		transparent 100%
	);
	animation: redlight-small 0.7s infinite;
	right: -366px;
	bottom: -200px;
	transform: rotate(-10deg);
}

.bluelight-small {
	background-color: blue;
	background: radial-gradient(
		rgba(0, 0, 255, 0.25) 0%,
		transparent 67%,
		transparent 100%
	);
	animation: bluelight-small 0.7s infinite;
	left: -300px;
	top: -300px;
	transform: rotate(-45deg);
}

#room-container {
	height: auto;
	width: 600px;
	background-color: rgba(255, 255, 255, 0.13);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	padding: 0 50px;
}

.room {
	text-align: center;
	font-size: 42px;
	cursor: pointer;
}

/* #chat-messages {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 15px 0 0 0;
    background-color: rgba(0, 0, 0, 0.279); 
    padding: 10px;
    width: 300px; 
  }

  #send-button {
    margin-top: 10px;
  }

  #chat-messages {
    max-height: 400px; 
    max-width: 800px;
    overflow-x: auto; 
    border: 1px solid #100202; 
    padding: 10px; 
  }
  
  .Chats {
    margin-bottom: 10px; 
  }
  
 
  .Chats strong {
    color: #cc3333;
  }
  

  .Chats {
    background-color: #00000061;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
  } */

#message-input {
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ff1b22;
	border-radius: 5px;
	width: 300px;
	margin-right: 10px;
	background-color: #10020271;
	color: #fff;
}

/* CSS stils sūtīšanas pogai */
#send-button {
	padding: 8px 20px;
	font-size: 16px;
	background-color: #cc3333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* CSS stils sūtīšanas pogai, kad tiek nospiežama */
#send-button:hover {
	background-color: #7b2121;
}

.input {
	z-index: 1;
}

.start-game-button {
	position: relative;
	background-color: #13aa52;
	border: 1px solid #13aa52;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
	box-sizing: border-box;
	width: 360px;
	left: 20%;
	color: #fff;
	cursor: pointer;
	font-family: 'Akzidenz Grotesk BQ Medium', -apple-system, BlinkMacSystemFont,
		sans-serif;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin-bottom: 10px;
}

.start-game-button:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
	transform: translateY(-2px);
}

@media (min-width: 768px) {
	.start-game-button {
		padding: 10px 30px;
	}
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.5s ease-in-out; /* Pievienojiet pārejas efektu */
}

.hidden {
	display: none;
}

.arrow {
	color: #ffffff;
	cursor: pointer;
	transition: transform 0.3s;
	border-radius: 6px;
	border: none;
	background-color: rgb(255, 0, 0);
	position: absolute;
	margin: 10px;
	height: 20px;
}

.arrow:hover {
	transform: scale(1.2);
}

#room-messages {
	position: absolute;
	right: 0;
}

#room-messages .message-leave {
	position: relative;
	background-color: #ff6b6b;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #e53935;
	margin-bottom: 10px;
	align-self: flex-start;
}

#room-messages .message-Join {
	position: relative;
	background-color: #23ff0179;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #1eff05;
	margin-bottom: 10px;
	align-self: flex-start;
}

.chat-container {
	width: 300px; /* Norādiet vēlamo platumu */
	height: 400px; /* Norādiet vēlamo augstumu */
	background-color: rgba(0, 0, 0, 0.5); /* Peleka fona caurspīdīgums */
	position: absolute; /* Lai iespējotu "absolute" pozicionēšanu iekšējiem elementiem */
	overflow: hidden; /* Lai paslēptu izieto tekstu */
	border: 1px solid #ccc; /* Papildu stilizācija */
	right: 0;
	bottom: 0;
	border-top: 1px solid #ccc;
}

.chat-box {
	height: 83%;
	overflow-y: scroll; /* Lai pievienotu slīdni vertikālajam ritināšanai */
	padding: 10px; /* Norādiet vēlamo iekšējo atstarpi */
}

.input {
	background-color: #ffffff00; /* Fona krāsa ievades laukam */
	padding: 10px; /* Norādiet vēlamo iekšējo atstarpi */
	display: flex; /* Lai ievades lauks un pogas būtu vienā līnijā */
	align-items: center; /* Lai elementi būtu vertikāli centrēti */
}

#message-input {
	flex: 1; /* Ievades lauks aizpildīs atlikušo vietu */
	border: none; /* Noņemiet ievades lauka apmales */
	outline: none; /* Noņemiet ievades lauka izcelšanos */
	padding: 5px; /* Norādiet vēlamo iekšējo atstarpi */
}

#send-button {
	background-color: #2357b8af; /* Pogas fona krāsa */
	color: #fff; /* Teksta krāsa */
	border: none; /* Noņemiet pogas apmales */
	padding: 5px 10px; /* Norādiet vēlamo iekšējo atstarpi */
	cursor: pointer; /* Mainiet pelējuma formu, kad noklikšķināt */
}

.my-message {
	text-align: right;
}

.other-message {
	text-align: left;
}

.hidden {
	background: #101010;
	display: none;
}

#black-screen {
	background-color: #000000;
}

#startButton {
	position: relative;
}

.ready-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	text-align: center;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	padding: 0.7em 1.4em 0.7em 1.1em;
	color: white;
	background: #ad5389;
	background: linear-gradient(
		0deg,
		rgba(20, 167, 62, 1) 0%,
		rgba(102, 247, 113, 1) 100%
	);
	border: none;
	box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
	letter-spacing: 0.05em;
	border-radius: 20em;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.ready-button:hover {
	box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.ready-button:active {
	box-shadow: 0 0.5em 1em -0.5em #14a73e98;
}

.ready-status {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


.right-message {
	text-align: right;
	/* Papildus stili jūsu ziņojumiem no labās puses */
}

.left-message {
	text-align: left;
	/* Papildus stili citiem lietotāju ziņojumiem no kreisās puses */
}