{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Mafia | Create room
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'GameRoom/css/CreateRoom.css' %}" />
    
{% endblock %}

{% block body %}

<div class="lights-container">
  <div class="redlight"></div>
  <div class="bluelight"></div>
  <div class="redlight-small"></div>
  <div class="bluelight-small"></div>


<form action="{% url 'GameRoom:create_room' %}" method="POST" class="game-room-form">
  <div class="title" id="title">Create Game Room</div>
  {% csrf_token %}
  
  <div class="form-group">
    <label for="player-count">Player Count:</label>
    <div class="wrapper">
      <span class="minus">-</span>
      <span id="player-count" class="num">07</span>
      <input id="player-count-input" name="max_players" type="number" style="display: none;" value='07'>
      <span class="plus">+</span>
    </div>
  </div>

  <div class="form-group">
    <label for="is-private" disabled='true'>Private Room:</label>
    <input type="checkbox" id="is-private" name="is_private">
  </div>

  <div id="password-container" class="form-group">
    <label for="password">Password:</label>
    <input id="password-field" name="password" type="password"disabled>

  </div>

  <button type="submit" class="button">Create Room</button>
</form>

</div>

{% endblock %}

{% block js %}

<script src="{% static 'GameRoom/js/CreateRoom.js' %}"></script>
<script src="{% static 'GameRoom/js/title.js' %}"></script>

{% endblock %}