{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Mafia | Room
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'GameRoom/css/Room.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
/>
    
{% endblock %}

{% block body %}
<div id="overlay"></div>
<div id="lights-container">
  <div class="redlight"></div>
  <div class="bluelight"></div>
  <div class="redlight-small"></div>
  <div class="bluelight-small"></div>
</div>
<div id="room-messages"></div>

<div id="room-container">
  <h1 class='room' id='roomHeader'>
    <span class="room-text">Room:</span>
    <span id='roomCode' data-room-code="{{room.code}}">******</span>
  </h1>
  <div id="room-details">
    <h2>Room Details:</h2>
    <h3>Number of players: <span id="player-count">{{ room.player_count }} / {{ room.max_players }}</span></h3>

    <p>Players:</p>
    <ul id="player-list">
      {% for player in players %}
        <li class='player-list' data-player-id="{{ player.id }}">
          {% if player.is_owner %}
          <i class="fas fa-crown"></i>
            <strong>{{ player.user.username }}</strong>
          {% else %}
            {{ player.user.username }}
            {% if not player.is_owner and player.user != request.user %}
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <button id='startgame' style="--clr:#39FF14"><span>Start game</span><i></i></button>
  </div>
</div>

<div class="chat-container">
  <div class="chat-box" id="chat-box"></div>
  <div class="input" id="input">
    <input type="text" id="message-input" placeholder="Type your message here...">
    <button id="send-button">Send</button>
  </div>
</div>

<form method="post" action="{% url 'GameRoom:leave-room' %}">
  {% csrf_token %}
  <button class='arrow' type="submit" id="leave-room-button">Leave Room</button>
</form>

<!-- Ievietojiet div elementu ar id="room-code" un data-room-code atribūtu, kas satur istabas kodu -->
<div id="room-code" data-room-code="{{ room.code }}" style="display: none;"></div>
<!-- Ievietojiet div elementu ar id="current-username" un data-current-username atribūtu, kas satur pašreizējā lietotāja lietotājvārdu -->
<div id="current-username" data-current-username="{{ request.user.username }}" style="display: none;"></div>


<div id="remoteVideos"></div>
<!-- Ielādēt jQuery bibliotēku -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'GameRoom/js/chat.js' %}"></script>
<script src="{% static 'GameRoom/js/room.js' %}"></script>

{% endblock %}


