{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static 'GameRoom/css/test.css' %}" />
  <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <title>Mafia | Game | Test</title>
</head>
<body>
  <div class="day-night-cycle">
    <button onclick="toggleDayNight()">Toggle Day/Night</button>
    <button onclick="toggleMode('mafia')">Mafia Mode</button>
    <button onclick="toggleMode('people')">People Mode</button>
  </div>
  <section class="section-plans" id="section-plans">
    <div class="card">
      <div class="card__side card__side--front-2">
        <div class="card__title card__title--2">
          <img class='location' src="{% static 'mainpage/img/test2.png' %}" alt="Mafia Card" style='width:420px;'>
          <h1>Forest</h1>
        </div>
        <div class="card__details">
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-2">
        <div class="card__cta">
          <div class="card__title card__title--2">
            <img src="{% static 'mainpage/img/test.jpg' %}" alt="Mafia Card" style='width:370px;'>
            <h1>Mafia</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="{% static 'GameRoom/js/test.js' %}"></script>
</html>
