{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Mafia | Reset Password
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'mainpage/css/register.css' %}">
{% endblock %}

{% block body %}
    <a href='{% url "home" %}' class='arrow'><span>&#8249;</span></a>
    <div class="lights-container">
        <div class="redlight"></div>
        <div class="bluelight"></div>
        <div class="redlight-small"></div>
        <div class="bluelight-small"></div>

        <form method="POST">
            {% csrf_token %}

            <div class="title" id="title">Reset Password</div>

            <div class="form-group">
                <input type="password" name="password1" id="password1" required>
                <label for="password1" class="form-label">New Password</label>
            </div>

            <div class="form-group">
                <input type="password" name="password2" id="password2" required>
                <label for="password2" class="form-label">Confirm Password</label>
            </div>

            <button type="submit" class="testing" data-text="Reset Password">Reset Password</button>
        </form>

        {% if error_messages %}
            <div class="error-message">
                {% for error_message in error_messages %}
                    <span class="error-item">{{ error_message }}</span>
                    <br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'mainpage/js/register.js' %}"></script>
{% endblock %}
